<link rel="icon" href="/favicon.ico" sizes="any" />
<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />

<style>
  .rowcontainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 0.5em;
    margin-bottom: 26px;
  }
  .rowcontainerstart {
    justify-content: flex-start;
  }
  .rowcontainer3x > * {
    max-width: calc(100% / 3);
  }
  .rowcontainer2x > * {
    max-width: calc(100% / 2);
  }
  @media (max-width: 500px) {
    .rowcontainer {
      flex-direction: column;
    }
    .rowcontainer > * {
      max-width: initial;
    }
  }
  img {
    object-fit: contain;
    border-radius: 4px;
  }
  .nomargin {
    margin: 0 0;
  }
  .max250w {
    max-width: 250px;
  }
</style>
